 body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #47BEF3;
  overflow-x: hidden;
  }

  header {
  background-color: #47BEF3;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  .logo {
  font-size: 24px;
  font-weight: bold;
  }

  .menu {
  display: flex;
  gap: 10px;
  margin-right: 10px;
  }

  .menu a {
  color: white;
  text-decoration: none;
  margin-right:10px;
  margin-top: 10px;
  font-size: 28px;
  cursor: pointer;
  transition: text-decoration 0.3s ease, transform 0.2s ease;
  }

  .menu a:hover {
  text-decoration: underline; 
  transform: scale(1.1);
  }

  .menu button {
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.3s ease;
  }

  .menu button:hover {
  opacity: 0.7; 
  }

  .column {
  float: left;
  width: 33.33%;
  }

  .row:after {
  content: "";
  display: table;
  clear: both;
  }

  .content {
  width: 500px;
  height: 800px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
  }

  .dados {
  width: 478px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  }

  input[type="submit"] {
  width: 100%;
  padding: 0px;
  background-color: #47BEF3;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 20px;
  }

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}
.box{
    background-color: rgb(255, 255, 255);
    opacity: 0.9 ;
    border-radius: 40px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 450px;
    margin-right: 450px;
    margin-bottom: 10px;
  }
  
.form-box{
    width: 450px;
    margin: 0px 10px;

  
}
.form-box .login{
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}
.form-box form .field{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;

}
.form-box form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.btn{
    height: 50px;
    background: #47BEF3;
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
}
.btn:hover{
    opacity: 0.82;
}
.submit{
    width: 100%;
}
.links{
    margin-bottom: 15px;
}

/********* Home *****************/




